[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.5s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    color: white;
    /* customizable */
    background: #555;
    margin-top: 20px;
    margin-left: 20px;   
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}